<!DOCTYPE html>
<html lang="ko">
<head> 
    <meta charset="UTF-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home/login.css">
    <script src="/js/home/register.js" defer></script>
    <title>Document</title>
</head>
<body>
    <div class="login-page">
        <div class="form">
         
          <form class="login-form">
            <input id="id" type="text" placeholder="아이디를 입력하세요"/>
            <input id ="name" type="password" placeholder="이름"/>
            <input id ="psword" type="password" placeholder="비밀 번호를 "/>
            <input id ="confirm-psword" type="password" placeholder="비밀 번호 확인"/>
            <p id= "button"> SING UP </p id="button">
            <p class="message">회원 등록하셧습니 까? </p>
            <button><a href="/login">login</a></button>
          </form>
        </div>
      </div>  
</body>

</html> 
  <!-- Copyright (c) 2022 by Aigars Silkalns (https://codepen.io/colorlib/pen/rxddKy)
-->
